bin/
obj/

*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]uild/
[Ll]og/

out/

*.suo
*.user
*.sln.docstates

.vscode/

.vs/
